<header id="header" class="header">
    <div class="container-fluid">
        <h1 class="logo">
            <!-- <a class="scrollto" href="root_path"> -->
              <span class="highlight"><%= link_to "Eacting", root_path, class: 'text' %></span>
                <!-- <span class="logo-icon-wrapper"> -->
                    <%#= image_tag 'logo-icon.svg', alt: "icon" %>
                <!-- </span> -->
                <!-- <span class="text">
                    <span class="highlight"> E </span>
                    acting
                </span> -->
            <!-- </a> -->

        </h1>
        <nav class="main-nav navbar-expand-md float-right navbar-inverse" role="navigation">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->

            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                       <li class="nav-item">
                            <%= link_to "依頼投稿", new_work_path, class: "nav-link scrollto" %>
                        </li>
                        <li class="nav-item">
                             <%= link_to "依頼一覧", works_path, class: "nav-link scrollto" %>
                         </li>
                       <li class="nav-item">
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link scrollto" %>
                        </li>
                       <li class="nav-item">
                            <%= link_to "マイページ", user_path(current_user.id), class: "nav-link scrollto" %>
                        </li>
                     <% else %>
                       <li class="nav-item">
                            <%= link_to "新規登録", new_user_registration_path, class: "nav-link scrollto" %>
                        </li>
                       <li class="nav-item">
                            <%= link_to "ログイン", new_user_session_path, class: "nav-link scrollto" %>
                        </li>
                  <% end %>
                </ul>
            </div>
        </nav>
    </div>
</header>
