<h2>以下の内容で、掲載する。</h2>

<div class="confirm_contents">

<%= form_with(model: @work, url: works_path, local: true) do |form| %>
  <%= form.hidden_field :method %>
  <%= form.hidden_field :gametitle %>
  <%= form.hidden_field :gamemodel %>
  <%= form.hidden_field :work %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :reward %>
  <%= form.hidden_field :gametitle %>
  <%= form.hidden_field :payment %>
  <p>依頼形式:<%= @work.method %></p>
  <p>ゲームタイトル:<%= @work.gametitle %></p>
  <p>機種:<%= @work.gamemodel %></p>
  <p>依頼内容:<%= @work.work %></p>
  <p>期日:<%= @work.deadline %></p>
  <p>報酬:<%= @work.reward %></p>
  <p>支払い方法:<%= @work.payment %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
<%= link_to '戻る', :back %>
  
</div>
