依頼詳細画面
<p>依頼形式:<%= @work.method %></p>
<p>ゲームタイトル:<%= @work.gametitle %></p>
<p>機種:<%= @work.gamemodel %></p>
<p>依頼内容:<%= @work.work %></p>
<p>期日:<%= @work.deadline %></p>
<p>報酬:<%= @work.reward %></p>
<p>支払い方法:<%= @work.payment %></p>
