<h1>about me</h1>
<h3>プロフィール画像</h3>
<%= image_tag @user.image_url, class: "icon_image" if @user.image? %><%= image_tag '' %>
<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>

<%= link_to 'ユーザー一覧画面', users_path %>

<%= link_to '戻る', :back %>
